body {
  background-color: rgba(235, 228, 228, 0.1);
}
h1 {
  color: rgb(122, 13, 122, 0.8);
  text-align: center;
  font-weight: 800px;
  font-size: 36px;
  line-height: 1.5px;
  padding: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
a {
  color: rgb(122, 13, 122, 0.8);
}
.poem-display-position footer {
  color: rgba(199, 123, 199, 0.8);
}
.form-container {
  margin: 120px auto;
  margin-bottom: 30px;
  margin-top: 30px;
  max-width: 500px;
  padding: 30px;
  background-color: rgb(83, 77, 77);
  border: 1px solid;
  border-radius: 10px;
  box-shadow: 12px 12px 2px 1px rgba(134, 87, 122, 0.1);
}
.form-input {
  border: none;
  padding: 15px;
  margin-left: 20px;
  width: 300px;
  border-radius: 10px;
}
.submit-button {
  padding: 15px;
  margin-left: 5px;
  background-color: rgb(122, 13, 122);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  font-family: "Courier New", Courier, monospace;
}
.poem-display-position {
  color: rgb(255, 255, 255);
  background-color: rgb(83, 77, 77);
  margin: 0% auto;
  margin-bottom: 20px;
  border: 1px solid;
  max-width: 500px;
  padding: 30px;
  border-left: 5px solid rgb(122, 13, 122, 0.8);
  border-radius: 10px;
  box-shadow: 12px 12px 2px 1px rgba(134, 87, 122, 0.1);
  background-color: 12px 12px 2px 1px rgba(134, 87, 122, 0.1);
}
.hidden {
  display: none;
}
.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.footer {
  padding: 20px;
  margin-left: 350px;
}
@media (max-width: 900px) {
  .form-container {
    margin: 80px auto;
    margin-bottom: 30px;
    margin-top: 30px;
    max-width: 300px;
    padding: 20px;
  }
  .form-input {
    border: none;
    padding: 10px;
    margin-left: 10px;
    width: 235px;
    border-radius: 10px;
  }
  .submit-button {
    padding: 10px;
    margin-left: 5px;
    margin-top: 10px;
    background-color: rgb(122, 13, 122);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    font-family: "Courier New", Courier, monospace;
  }
  .poem-display-position {
    color: rgb(255, 255, 255);
    background-color: rgb(83, 77, 77);
    margin: 0% auto;
    margin-bottom: 20px;
    border: 1px solid;
    max-width: 300px;
    padding: 20px;
    border-left: 5px solid rgb(122, 13, 122, 0.8);
    border-radius: 10px;
    box-shadow: 12px 12px 2px 1px rgba(134, 87, 122, 0.1);
    background-color: 12px 12px 2px 1px rgba(134, 87, 122, 0.1);
  }
  .footer {
    text-align: center;
    padding: 10px;
    margin-left: 50px;
  }
  h1 {
    font-size: 24px;
    padding: 10px;
    margin-top: 40px;
  }
}
