body {
  background-color: #000000;
  color: #ffffff;
}
h1 {
  text-align: center;
}
div {
  background-color: rgb(255, 255, 255);
  width: 800px;
  margin: 0% auto;
}
footer {
  text-align: center;
}
